<h1>Hyperloop for Android Programming Guide</h1>
<blockquote>
<p>This documentation is made available before final release and is subject to change without notice and comes with no warranty express or implied.</p>
</blockquote>
<h2>Requirements</h2>
<p>You'll need to have the following minimum requirements to use Hyperloop for Android:</p>
<ul>
<li>Titanium 5.2.0</li>
<li>Android 2.3.3+ SDK</li>
</ul>
<h2>Pre-release Installation</h2>
<p>For pre-release, you'll need to update to the latest unreleased version of Titanium 5.2.0 by running <code>ti sdk install -b master -d</code>.  Make sure you set the version of your application to use this version in your <code>tiapp.xml</code> <code>&lt;sdk-version&gt;</code>.</p>
<h2>Classes</h2>
<h3>Overview</h3>
<p>Classes in Hyperloop map to the underlying classes defined in Java.  For example, if you have a class such as <code>android.view.View</code> defined, you would reference it using a standard require such as:</p>
<p><code>javascript
var View = require('android.view.View');</code></p>
<p>This will return the <code>View</code> class object.  Meaning, it's not an instance of a <code>View</code>, but the <code>View</code> class itself.</p>
<p>Once you have a the Class reference returned from <code>require</code>, you can call normal JavaScript property and functions against it. Remember, at this point calling functions or properties against the class object above will be accessing Class level (static) Java methods (not instance level).</p>
<p>For example, you could get the generated view id of the <code>View</code> using the example:</p>
<p><code>javascript
var generatedId = View.generateViewId();</code></p>
<p>This is because <a href="http://developer.android.com/reference/android/view/View.html#generateViewId()"><code>generateViewId</code></a> is defined as a static method.</p>
<h3>Instantiation</h3>
<p>To instantiate a native Class and create an instance, you can use <code>new</code> just as you normally do in Javascript or Java:</p>
<p><code>javascript
var view = new View(activity);</code></p>
<h3>Methods and Fields</h3>
<p>Methods in Java are mapped to JavaScript functions. Fields in Java are mapped to JavaScript property accessors. static methods or fields (such as constants) will be attached to the class type.</p>
<p>For example:</p>
<p><code>java
public class Example {
    public int field;
    public static final String staticString = "";
    public void method(int argument);
    public static boolean staticMethod();
}</code></p>
<p>Would map to the following in JavaScript:</p>
<p><code>javascript
example.field = 123;
Example.staticString;
example.method(567);
var result = Example.staticMethod();</code></p>
<h4>Method resolution</h4>
<p>If a class has overloads for a method (multiple forms of the method with different signatures, but the same name), we will attempt to match the correct method to invoke on the Java side by matching the passed in arguments to the closest match. Typically, this involves matching the name, number of arguments and the ability to convert the passed in arguments (in-order) to the method's parameter types. We are slightly more liberal in accepting numeric primitives than typical method resolution due to the conversion of JS Numbers.</p>
<h3>Casting</h3>
<p>Sometimes interfaces define generic return types such as <code>Object</code> and you will need to cast them to a different type to then reference methods and properties of the class.  You can pass along the object you want to wrap to the constructor of the type you want to wrap it in.</p>
<p>For example, suppose the result of the function returned an <code>Object</code> but you know the implementation is actually a <code>View</code>. You could use the following:</p>
<p><code>javascript
var view = new View(object);
// call View instance methods on view variable</code></p>
<p><strong>Be careful with casting:</strong>  If you cast an object which is actually something different, you will experience an error and likely a crash.</p>
<p>You can also cast a Titanium UI Component into its equivalent.  For example, this would work:</p>
<p><code>javascript
var tiView = Ti.UI.createView( { backgroundColor : "red" } );
var nativeView = new View(tiView);
console.log('X (relative to parent): ', nativeView.getLeft());</code></p>
<h3>Interfaces</h3>
<p>Interfaces may be implemented using a Javascript syntax similar to an anonymous Java class. Call the constructor of the interface type with a JS object that contains properties that match the interface method names, and corresponding values as function that implement them.</p>
<p>For example, to create an instance that implements <code>android.view.View.OnTouchListener</code>:</p>
<p><code>javascript
var OnTouchListener = require('android.view.View.OnTouchListener'),
    listener = new OnTouchListener({
        onTouch: function(v, event) {
            // Do some work here
            return true;
        }
    });</code></p>
<h3>Creating your own classes</h3>
<p>Currently, extending Java classes from Javascript is not supported in the latest version.</p>
<h2>Using Third-party libraries</h2>
<p>You can use Third-party libraries in Hyperloop.</p>
<h3>JARs</h3>
<p>Simply place the JAR files into the <code>platform/android</code> folder of your app. Hyperloop will pick up the JAR files and will generate necessary bindings and include the JARs in your app.</p>
<h3>AARs</h3>
<p>Simply place the AAR files into the <code>platform/android</code> folder of your app. Hyperloop will pick up the AAR files and will generate necessary bindings, extract resources, extract and use the classes.jar, *.so file, etc.</p>